<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="MealPlanner web app">
    <!-- need meta for display -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>MealPlanner</title>
    {% endif %}
    <!-- This is a magical incantation for a font set -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Open+Sans&display=swap" rel="stylesheet">
    <!-- relative link to css styles -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <script src="../static/js/togglehide.js"></script> -->
    <script type="text/javascript"
         src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
</head>

<body onload="check_date_today()">

    <main>
        <header>
            {% if hide == 0 %}
            <div class="nav">
                <ul>
                    <li><a href="{{url_for('index') }}">Return to home</a></li>
                    <li><a href="{{url_for('newplan') }}">Create or edit a meal plan</a></li>
                    <li><a href="{{url_for('signup') }}">Sign up on a meal plan</a></li>
                    <li><a href="editrecipe.html">Enter or edit a recipe</a></li>
                    <!-- <li><a href="recipebrowser.html">Browse recipes</a></li> -->
                </ul>
            </div>
            {% endif %}

            {% block header %}
            {% endblock %}


        </header>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
