{% extends 'base.html' %}

{% block header %}
<h1>Cook's information viewer</h1>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="post" id="recipe_view">
      <label for="select_mealplan_viewer">Select the meal plan where the cook's info was registered</label>
      <select id= "select_mealplan_viewer" name= "select_mealplan_viewer">
            <option value="" selected="selected">None</option>
            {% for x in mealplans_names %}
            <option value="{{x.meal_plan}}">{{x.meal_plan}}</option>
            {% endfor %}
      </select>
      <br>
      <label for="select_generate_cooks">Select cook:</label>
      <select id= "select_generate_cooks" name= "select_generate_cooks">
      </select>

      <button type ="submit" id="submit_cook">Submit</button>
</form>


{% if data %}
<form action="{{ url_for( 'remove_cook',  planner_name = meal_plan, cook=data.name) }}" method="POST" onsubmit="return confirm('Do you really want to delete the cook's information?');" style="float: right;">
      <button type ="submit" >Delete cook's info</button>
</form>


<br>
Cook's name:
{{data.name}}
<br>
<br>


List of allergies:
{% for i in data.allergies %}
<br>
{% if data.allergies%}
  - {{i}}
{% endif %}
{% endfor %}

<br>
<br>

Dietary restrictions:
{% for i in data.restrictions %}
<br>
  - {{i}}
{% endfor %}
<br>
<br>

{% endif %}


{% endblock %}
