{% extends 'base.html' %}

{% block header %}
<h1>Recipe display</h1>
<h2>Title: {{ recipe.title }}</h2>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="post" id="recipe_view">
      <label for="view">Select the meal plan that the recipe is associated with </label>
      <select id= "view" name= "view">
            <option value="" selected="selected">None</option>
            {% for x in mealplans_names %}
            <option value="{{x.meal_plan}}">{{x.meal_plan}}</option>
            {% endfor %}
      </select>
      <br>
      <label for="name">Select recipe: </label>
      <select id= "name" name= "name">

      </select>

      <button type ="submit" id="submit_cook">send</button>
</form>


{% if data %}
<form action="{{ url_for( 'remove_recipe',  planner_name = meal_plan, recipe=recipe.title) }}" method="POST" style="float: right;">
      <button type ="submit" >Delete this recipe</button>
</form>

<p>Serves: {{ recipe.servings }}</p>

<p class="ingredients">Ingredients:</p>
<ul class="ingredients">
{% for ingredient in recipe.ingredients %}
<li>{{ ingredient[1] }}{{ ingredient[2] }}{{ ingredient[0] }}</li>
{% endfor %}
</ul>

<p class="directions">Directions:</p>
<p>{{ recipe.recipe }}</p>

<p class="recipeinfo">Allergens: 
{% for allergen in recipe.allergens %}
<li>{{ allergen }}</li>
{% endfor %}
</p>
<p class="recipeinfo">Dietary restrictions: {{ recipe.restrictions }}</p>
{% endif %}


<script>

  function add_drop_list(array){
    var element = document.getElementById('name');

    while (element.hasChildNodes()) {
       element.removeChild(element.lastChild);
    }

    if (array.length > 0){

      for (i = 0; i < array.length; i++) {
        var option = document.createElement('option');
        option.value = array[i];
        option.innerHTML = array[i];
        element.appendChild(option);
      }

    }
 

    element.appendChild(option);

 };
 $('#view').change(function() {
   var meal_plan = $("#view").val();
   if (meal_plan!="")
   console.log(meal_plan);
   {
     $.getJSON( "/_view_recipes",
                {
                meal_plan:meal_plan},
                function(data) {
                  rsval = data.result.response;
                  add_drop_list(rsval)
                }
             );
   }
 });

 </script>

{% endblock %}