{% extends 'base.html' %}

{% block header %}
<h1>Recipe display</h1>
{% if recipe %}
<h2>Title: {{ recipe.title }}</h2>
{%endif%}
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="post" id="recipe_view">
      <label for="select_recipe_mealplan_display">Select the meal plan that the recipe is associated with </label>
      <!-- recipe_meal connects with add drop list js -->
      <select id= "select_recipe_mealplan_display" name= "select_recipe_mealplan_display">
            <option value="" selected="selected">None</option>
            {% for x in mealplans_names %}
            <option value="{{x.meal_plan}}">{{x.meal_plan}}</option>
            {% endfor %}
      </select>

      <br>
      <label for="select_name_recipe_droplist">Select recipe: </label>

      <select id= "select_name_recipe_droplist" name= "select_name_recipe_droplist">
      </select>

      <button type ="submit" id="submit_cook">send</button>
</form>


{% if recipe %}
<form action="{{ url_for( 'remove_dish',  planner_name = meal_plan, dish = recipe.title) }}" method="POST" style="float: right;" onsubmit="return confirm('Do you really want to delete this recipe?');" name="delete_recipe">
      <button type ="submit" >Delete cook's info</button>
</form>

<p>Serves: {{ recipe.servings }}</p>

<p class="ingredients">Ingredients:</p>
<ul class="ingredients">
{% for ingredient in recipe.ingredients %}
<li>{{ ingredient[1] }} {{ ingredient[2] }} of {{ ingredient[0] }}</li>
{% endfor %}
</ul>

<p class="directions">Directions:</p>
<p>{{ recipe.recipe }}</p>

<p class="recipeinfo">Allergens:


{% for allergen in recipe.allergens %}
<li>{{ allergen }}</li>
{% endfor %}
</p>

<p class="recipeinfo">Dietary restrictions:

{% for x in recipe.restrictions%}
<li>{{ x }}</li>
{% endfor %}
</p>
{% endif %}



{% endblock %}
