{% extends 'base.html' %}

{% block header %}
<h1>Recipe display</h1>
<h2>Title: {{ recipe.title }}</h2>
{% endblock %}

{% block content %}
<p>Serves: {{ recipe.servings }}</p>

<p class="ingredients">Ingredients:</p>
<ul class="ingredients">
{% for ingredient in recipe.ingredients %}
<li>{{ ingredient[1] }}{{ ingredient[2] }}{{ ingredient[0] }}</li>
{% endfor %}
</ul>

<p class="directions">Directions:</p>
<p>{{ recipe.recipe }}</p>

<p class="recipeinfo">Allergens: {{ recipe.allergens }}</p>
<p class="recipeinfo">Dietary restrictions: {{ recipe.restrictions }}</p>

{% endblock %}