{% extends 'base.html' %}

{% block header %}
<h1>MealPlanner Home</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<h3>The MealPlanner is your online resources for planning shared meals.
    Perfect for river trips, getaways at a beach house, or communal living.
</h3>
{% endblock %}

{% block content %}
<div class="instructions">
    <ul>


        <li>Step 1: The planner <a href="{{url_for('newplan') }}">sets up a new mealplan using our template.</a></li>
        <li>Step 2: The cooks <a href="{{url_for('signup') }}">sign up for the meals they'll be responsible for,</a> and indicate
            what they'll be cooking.</li>
        <li>Coming soon: Browse recipes, adjust ingredients for group size, and generate shopping lists and recipe
            sheets.</li>
    </ul>
</div>
<footer class="about">

    <h3>About us:</h3>
    <p>Created as a project for <a href="https://classes.cs.uoregon.edu/20F/cis422/schedule.php">CIS 422, Software Methodology 1</a>, 
    taught in fall 2020 by <a href="https://ix.cs.uoregon.edu/~michal/">Michal Young</a> at the 
    <a href="https://cs.uoregon.edu/">University of Oregon.</a></p>
    <h3>Created by</h3>
    <ul>
        <li>Max Aguirre Aguirre</li>
        <li>Bria Gray</li>
        <li>Lindsay Marean ~ on <a href="https://github.com/lednesday">GitHub</a>, <a href="https://bitbucket.org/lednesday/">Bitbucket</a>, and at <a href="http://www.bensay.org/lindsayPro.html">bensay.org</a></li>
        <li>Antonio J. Silva Paucar</li>
    </ul>
    </p>
    <p>Detailed instructions on using this site are available here</p>
    <p>You can access our project repository at <a
            href="https://github.com/lednesday/MealPlanner">https://github.com/lednesday/MealPlanner</a>.</p>
</footer>
{% endblock %}
