{% extends 'base.html' %}

{% block header %}
<h1>MealPlanner Home</h1>



<h3>The MealPlanner is your online resources for planning shared meals.
    Perfect for river trips, getaways at a beach house, or communal living.
</h3>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <p><b>{{ message }}</b></p>
{% endfor %}

<div class="instructions">
<h2>Using the MealPlanner tool is easy!</h2>
    <ul>
        <li>Step 1: Set up a <a href="{{url_for('newplan') }}">new mealplan using our template</a>.</li>
        <li>Step 2: If you want to build a pool of cooks and/or recipes to populate your meal plan with, you can <a href="{{url_for('cook') }}">add cooks</a> and <a href="{{url_for('recipe') }}">add recipes</a> to your plan.</li>
        <li>Step 3: Now the cooks in your group can <a href="{{url_for('signup') }}">sign up</a> to cook meals and select or add the menu items for each meal.</li>
        <li>Need to delete something? No problem! You can <a href="{{url_for('signup') }}">delete a mealplan on the signup page</a>, <a href="{{url_for('show_cook') }}">view and/or delete cook information here</a>, and <a href="{{url_for('show_recipe') }}">view and/or delete recipe information here</a>.</li>
        <li>Need more help? <a href="https://github.com/lednesday/MealPlanner/blob/main/docs/User_guide.pdf">Access our full user's guide here</a>.</li>
    </ul>
</div>

<footer class="about">

    <p><em>About us:</em></p>
    <p>Created as a project for <a href="https://classes.cs.uoregon.edu/20F/cis422/schedule.php">CIS 422, Software Methodology 1</a>,
    taught in fall 2020 by <a href="https://ix.cs.uoregon.edu/~michal/">Michal Young</a> at the
    <a href="https://cs.uoregon.edu/">University of Oregon.</a></p>
    <p><em>Created by</em></p>
    <ul>
        <li>Max Aguirre Aguirre</li>
        <li>Bria Gray</li>
        <li>Lindsay Marean ~ on <a href="https://github.com/lednesday">GitHub</a>, <a href="https://bitbucket.org/lednesday/">Bitbucket</a>, and at <a href="http://www.bensay.org/lindsayPro.html">bensay.org</a></li>
        <li>Antonio J. Silva Paucar</li>
    </ul>
    </p>
    <p>Detailed instructions for using this site are available <a href="https://github.com/lednesday/MealPlanner/blob/main/docs/User_guide.pdf">here</a></p>
    <p>You can access our project repository at <a
            href="https://github.com/lednesday/MealPlanner">https://github.com/lednesday/MealPlanner</a>.</p>
</footer>
{% endblock %}
