{% extends "base.html" %}

{% block header %}
<h1>Create a new meal plan</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    <!-- SECRET_KEY variable must be defined in the Flask configuration for next line to work -->
    <!-- {{ form.hidden_tag() }} -->
    <label for="plan name">Meal plan name</label>
    <input type="text" id="plan_name" name="plan_name" maxlength="50">
    <fieldset>
        <legend>Select the dates for your meal plan</legend>
        <p>
            <label for="start date">Start date:</label>
            <!-- Note: may have to use JS instead https://flatlogic.com/blog/best-javascript-date-picker-libraries/ -->
            <input type="date" id="start_date" name="start_date">
        </p>
        <p>
            <label for="end date">End date:</label>
            <input type="date" id="end_date" name="end_date">
        </p>
    </fieldset>
    <fieldset>
        <legend>Select the meals you'll be sharing</legend>
        <ul>
            <li>
                <label for="breakfast">breakfast</label>
                <input type="checkbox" id="breakfast" name="meal" value="breakfast">
            </li>
            <li>
                <label for="lunch">lunch</label>
                <input type="checkbox" id="lunch" name="meal" value="lunch">
            </li>
            <li>
                <label for="snacks">snacks</label>
                <input type="checkbox" id="snacks" name="meal" value="snacks">
            </li>
            <li>
                <label for="dinner">dinner</label>
                <input type="checkbox" id="dinner" name="meal" value="dinner">
            </li>
        </ul>
    </fieldset>
    <p> <button type="submit">Submit</button> </p>
</form>
{% endblock %}