{% extends 'base.html' %}

{% block header %}
<h1>Create a new meal plan</h1>
{% endblock %}

{% block content %}



<form  action="" method="post" id="newplan">
    <label for="plan name">Meal plan name</label>
    <input type="text" id="plan_name" name="plan_name" maxlength="50" required="required" placeholder="October Rogue Trip" >
    <p id="response"> </p>
    <fieldset>
        <legend class="topbanner">Select the dates for your meal plan</legend>
        <p>
            <label for="start date">Start date:</label>
            <input type="date" id="start_date" name="start_date">
        </p>
        <p>
            <label for="end date">End date:</label>
            <input type="date" id="end_date" name="end_date">
        </p>
    </fieldset>
    <p> <button id="button_send" type="submit">Submit</button> </p>

    {% for message in get_flashed_messages() %}
        <p><b>{{ message }}</b></p>
    {% endfor %}

    <div id="container"/>
</form>




<script>




</script>


{% endblock %}
