{% extends 'base.html' %}

{% block header %}
<h1>Create a new meal plan</h1>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="post" id="newplan">

    <label for="plan name">Meal plan name</label>

    <input type="text" id="plan_name" name="plan_name" maxlength="50" placeholder="October Rogue Trip"autocomplete="off"  autofocus >
    <p id="response"> </p>

    <fieldset>
        <legend>Select the dates for your meal plan</legend>
        <p>
            <label for="start date">Start date:</label>
            <input type="date" id="start_date" name="start_date">
        </p>
        <p>
            <label for="end date">End date:</label>
            <input type="date" id="end_date" name="end_date">
        </p>
    </fieldset>
    <fieldset>
        <legend>Select the meals you'll be sharing</legend>
        <ul class="checkboxes">
            <li>
                <label for="breakfast">breakfast</label>
                <input type="checkbox" id="breakfast" name="meal" value="breakfast">
            </li>
            <li>
                <label for="lunch">lunch</label>
                <input type="checkbox" id="lunch" name="meal" value="lunch">
            </li>
            <li>
                <label for="snacks">snacks</label>
                <input type="checkbox" id="snacks" name="meal" value="snacks">
            </li>
            <li>
                <label for="dinner">dinner</label>
                <input type="checkbox" id="dinner" name="meal" value="dinner">
            </li>
        </ul>
    </fieldset>
    <p> <button type="submit">Submit</button> </p>

</form>

<script>
    // $("#newplan ").submit(function(event) {
    //    event.preventDefault();
    //   });

    $("#plan_name").keyup(function(event) {
       var txt = $("#plan_name").val();  // Current content of the input field
       var keycode = event.which;      // They key that just went up
       $.getJSON( "/_check_name",
                  {text: txt},
                  function(data) {
                    rsval = data.result.response;
                    console.log("rsval: " + rsval);
                    if (rsval.localeCompare("Yes") == 0){
                       $("#response").html("Already taken!")
                    }
                    else{
                      $("#response").html("Good name!");
                    }
                   }

               );
       });

</script>

{% endblock %}
