<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if recipe %}
  <title>Recipe for {{ recipe.title }}  </title>
  {%else%}
  <title>The recipe has not been entered </title>
  {%endif%}
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>


<body style="background-color: #f4e8c1ff;">


  {% if recipe %}
  <h2>Title: {{ recipe.title }}</h2>

  <p>Serves: {{ recipe.servings }}</p>
  <p class="ingredients">Ingredients:</p>
  <ul class="ingredients">
  {% for ingredient in recipe.ingredients %}
  <li>{{ ingredient[1] }} {{ ingredient[2] }} of {{ ingredient[0] }}</li>
  {% endfor %}
  </ul>

  <p class="directions">Directions:</p>
  <p>{{ recipe.recipe }}</p>

  <p class="recipeinfo">Allergens:


  {% for allergen in recipe.allergens %}
  <li>{{ allergen }}</li>
  {% endfor %}
  </p>

  <p class="recipeinfo">Dietary restrictions:

  {% for x in recipe.restrictions%}
  <li>{{ x }}</li>
  {% endfor %}
  </p>
  {% else %}
  The recipe has not been entered.<br>
  If you want to add a recipe. Please, press here
  <button onclick="open_add_recipe();" style =  "background-color: #63a375ff; border-radius: 5px; border-radius: 5px;  padding: 3px;">Add recipe</button>

  {% endif %}


  <script>
  function open_add_recipe() {
    window1=window.open("{{url_for('recipe') }}",'','width=1600,height=1100');
    window1.moveTo(40, 0);
    window.close();

  };
  </script>


</body>
</html>
