{% extends 'base.html' %}

{% block header %}
<h1>Enter a recipe</h1>
{% endblock %}

{% block content %}
<form action="" method="post" id="recipe">
    <fieldset>

        <label for="meal_plan">Select a meal plan to assign the dish to:</label>
            <select id= "meal_plan" name= "meal_plan">
              <option value="" selected="selected">None</option>
              {% for x in mealplans_names %}
              <option value="{{x.meal_plan}}">{{x.meal_plan}}</option>
              {% endfor %}
            </select>

    <fieldset>
        <label for="recipe name">Recipe title: </label>
        <input type="text" id="recipe_name" name="recipe_name" maxlength="50" placeholder="Magnificent Mac -n- Cheese" autocomplete="off"  autofocus required >
        <label for="number served">Servings: </label>
        <input type="number"id="yield" name="yield" maxlength="10" placeholder="4" required>
    </fieldset>
    <p id="response"> </p>

    <fieldset id="ingredients_field">
      <legend>Ingredients</legend>
      <!-- <div id="placeholder"> -->
        <div id="ingredient_diet">
              <label for="ingredient">Item: </label>
              <input type="text" placeholder="shredded cheddar cheese" id="item" name="item" required>

              <label for="quantity">Quantity: </label>
              <input placeholder="2" id="quantity" name="quantity" type="number" required>
              <!-- <label for="unit">Unit of measurement: </label>
              <input type="text" placeholder="oz, cups, etc" id="unit" name="unit"> -->
              <label for="unit">Units: </label>
              <input type='text' list="units" id="unit" name="unit" autocomplete="off"/ required>
              <datalist id="units">
                  <option value="g">
                  <option value="kg">
                  <option value="lb">
                  <option value="L">
                  <option value="c">
                  <option value="oz">
                  <option value="pt">
                  <option value="tsp">
                  <option value="Tbsp">
                  <option value="mg">
              </datalist>
        </div>
      <!-- </div> -->

    </fieldset>
    <button type="button" id="button" value="Add Row">Add Ingredients</button>


    <fieldset>
        <legend>Directions</legend>
        <p>
            <textarea id="step" name="step" rows="10" cols="100"></textarea required>
        </p>
    </fieldset>

    <fieldset id="restrictions_field">
        <div id="special_diet">
            <legend>Enter Several Restrictions Separated by a Comma: </legend>
            <label for="allergens">Allergens: </label>
            <input type="text" id="allergens" name="allergens" maxlength="50" placeholder="peanuts, eggs, etc">
            <label for="special diet">Special diets: </label>
            <input type="text" id="restrictions" name="restrictions" maxlength="100" placeholder="vegetarian, gluten-free, etc">
        </div>
        <button type ="submit" id="button_submit" >Submit Recipe</button>
    </fieldset>
  </fieldset>

</form>

<script>

var counter = 0;//save the number of fields
function add_field() {
    counter++;

    var div = document.createElement ("div");
    div.id = "ingredient_diet";

    var label = document.createElement('label');
    label.innerHTML = " Item: ";
    label.htmlFor = "item"
    div.appendChild(label);
    var item_input = document.createElement('input');
    item_input.type = "text";
    item_input.name = "item";
    item_input.id = "item"+counter;
    div.appendChild(item_input);
    ingredients_field.appendChild(div);

    var label = document.createElement('label');
    label.innerHTML = " Quantity: ";
    label.htmlFor = "quantity"
    div.appendChild(label);
    var item_input = document.createElement('input');
    item_input.type = "text";
    item_input.name = "quantity";
    item_input.id = "quantity"+counter;
    div.appendChild(item_input);
    ingredients_field.appendChild(div);

    var label = document.createElement('label');
    label.innerHTML = " Units: ";
    label.htmlFor = "unit"
    div.appendChild(label);
    var item_input = document.createElement('input');
    item_input.type = "text";
    item_input.name = "unit";
    item_input.id = "unit"+counter;
    div.appendChild(item_input);
    ingredients_field.appendChild(div);
}

$('#button').click(function() {
  add_field();
});

</script>
{% endblock %}
