{% extends 'base.html' %}

{% block header %}
<h1>Sign up to cook</h1>
<h2>Meal plan: {{ list.meal_plan }}</h2>
{% endblock %}

{% block content %}
<div class="days">
    {% for day, day_dict in list.date.items() %}
    <div class="oneday">
        </p>
        <div class="dateheading">{{ day }}</div>
        {% for meal, meal_dict in day_dict.meals.items() %}
        <div class="mealheading">{{ meal }}</div>
        <div class="cooks">
            <div class="cookheading">Cooks: <button type="button">Edit</button></div>
            {% for cook in meal_dict.cooks %}
            <li>
            {{ cook }}
            </li>
            {% else %}
            <button type="button">Sign up</button>
            {% endfor %}
        </div>
        </p>
        <div class="dishes">
            <div class="menuheading">Menu: <button type="button">Edit</button></div>
            {% for dish in meal_dict.dishes %}
            <li>
            {{ dish }}
            </li>
            {% else %}
            <button type="button">Add menu</button>
            {% endfor %}
        </div>
        </p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
