{% extends 'base.html' %}

{% block header %}
{% if list %}
<h1>Sign up page for cooks and dishes.</h1>
<h2>Meal plan: {{ list.meal_plan }}</h2>
{% else %}
<h1>Sign up page for cooks and dishes.</h1>
<h2>Select one meal plan:</h2>
{%  endif %}
{% endblock %}

{% block content %}

{% if hide == 0 %}
<form  action="" method="post" id="newplan">
<li>
    <label for="meal_plan">Meal plans:</label>
    <select id= "meal_plan" name= "meal_plan">
          <option value="" selected="selected">None</option>
      {% for x in mealplans_names %}
          <option value="{{x.meal_plan}}">{{x.meal_plan}}</option>
      {% endfor %}
    </select>
</li>


</form>
{% endif %}

{% if list %}
<form action="{{ url_for( 'remove_mealplan',  planner_name = list.meal_plan) }}" method="POST" style="float: right;">
      <button type ="submit" >Delete meal plan</button>
</form>

<div class="days">
  {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
  {% endfor %}
    {% for day, day_dict in list.date.items() %}
    <div class="oneday">
      <div class="dateheading">{{ day }}</div>
      {% for meal, meal_dict in day_dict.meals.items() %}
      <div class="mealheading">{{ meal }}</div>

      <div class="cooks">

          <div class="cookheading"><b>Cooks:</b>
            {% for cook in meal_dict.cooks %}
            <li>
            <form action="{{ url_for( 'delete_cook', cook_delete = cook, date = day, meal = meal, planner_name = list.meal_plan) }}" method="POST">
              <li class="button">
                  {{ cook }}
                  <button type ="submit" >X</button>
              </li>
            </form>

            </li>
            {% endfor %}
            <li>
              <form action="{{ url_for( 'add_cook', date = day, meal = meal, planner_name = list.meal_plan) }}" method="POST">

                <li class="button">
                    <input type='text' list="cook" name="cook" autocomplete="off"/>
                    <datalist id="cook">
                      {% for x in names %}
                      <option value="{{x}}">{{x}}</option>
                      {% endfor %}
                    </datalist>
                    <button type ="submit" id="submit_cook">Add cook</button>
                </li>

              </form>
            </li>
          </div>
      </div>

      <div class="dishes">
        <div class="dishheading"><b>Dishes:</b>
          {% for dish in meal_dict.dishes %}
          <li>

          <form action="{{ url_for( 'delete_dish', dish_delete = dish, date = day, meal = meal, planner_name = list.meal_plan) }}" method="POST">
            <li class="button">
              {{ dish }}
              <button type ="submit">X</button>
            </li>
          </form>
          </li>
          {% endfor %}
          <li>
            <form action="{{ url_for( 'add_dish', date = day, meal = meal, planner_name = list.meal_plan) }}" method="POST">
              <!-- <input list="dish" name="dish" id="dish"> -->
              <li class="button">
                  <input type='text' list="dish" name="dish" autocomplete="off"/>
                  <datalist id="dish">
                    {% for x in dishes %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                  </datalist>
                  <button type ="submit" id="submit_cook">Add dish</button>
              </li>
            </form>
          </li>
        </div>
      </div>

      {% endfor %}
      </div>
    {% endfor %}
</div>
{% else %}

{% endif %}




{% endblock %}
