/* 
 * Styles for line-by-line translation, to enable showing 
 * or not showing the translated text. 
 */

 /*
CSS
/* CSS HEX */
/* --blue-sapphire: #065a82ff; header flair
--black-coffee: #2a1a1fff; main text
--persimmon: #E55812; top banners
--mikado-yellow: #ffc100ff; mid-level banners
--lemon-meringue: #f4e8c1ff; general background
--forest-green-crayola: #63a375ff; buttons
--cinnamon-satin: #ca6680ff; border flair 
--english-violet: #564256; visited */ 

 */

 /* global settings ------------------------- */

 /* boiler-plate box-sizing fix */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

 a:visited {
     color: #564256;
 }

head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header section ------------------------------ */

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #065a82ff;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-width: thick;
    border-color: #ca6680ff;
}

header h1 {
    font-weight: 900;
}

header h2 {
    font-weight: 200;
}

header h1, header h2 {
    padding: 5px;
    border-radius: 5px;
    background: #ffc100ff;
}

.nav {
    padding: 2px;
    border-radius: 5px;
    background: #63a375ff;
    font-family: Gill Sans, sans-serif
}

.nav li {
    list-style-type: none;
    margin: 0;
    display: inline;
}


.nav a {
    /* makes click target larger */
    padding: 10px;
}


/* body section ----------------------------------- */

form li {
    list-style-type: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4e8c1ff;
    padding-left: 10%; 
    padding-right: 2%;
}

.topbanner {
    background-color: #E55812;
    padding: 5px;
    border-radius: 5px;
}

.midbanner {
    background-color: #ffc100ff;
    padding: 3px;
    border-radius: 5px;
}

legend {
    background-color: #ffc100ff;
    padding: 3px;
    border-radius: 5px;
}

.checkboxes {
    list-style-type: none;}

.text-title {
    text-align: center;
}

h1, h2, h3 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dateheading, .mealheading {
    padding-left: 2%; 
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
}

.dateheading {
    background-color: #E55812;
    font-weight: 800;
}

.mealheading {
    background-color: #ffc100ff;
}

.dishes, .cooks {
    list-style-type: none;
}

.recipeinfo {
    font-style: oblique;
}

.recipeinfo li {
    list-style-type: none;
    margin: 0;
    display: inline;
}

.recipelabel {
    text-transform: uppercase;
    background-color: #E55812;
    padding: 5px;
    border-radius: 5px;
}

.recipedirections {
    border-radius: 5px;
    padding: 3px;
    border-style: solid;
    border-color: #ca6680ff;
}

button {
    background-color: #63a375ff;
    border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

em {
    font-weight: 600;
}

.instructions li{
    line-height: 2;
    margin-right: 20px;
}


footer {
    font-family: Optima, sans-serif;
    border-radius: 5px;
    padding: 3px;
    border-style: solid;
    border-width: medium;
    border-color: #ca6680ff;
}

footer li {
    list-style-type: none;
}


