/* 
 * Styles for line-by-line translation, to enable showing 
 * or not showing the translated text. 
 */

 /*
    color palette:
    $warm black: #004346
    $opal: #B7D5D4
    $melon: #ECB8A5;
    $dark sienna: #481620;
 */

 /* global settings ------------------------- */

 /* boiler-plate box-sizing fix */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

 a:visited {
     color: #481620;
 }

head {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
}

/* header section ------------------------------ */

header {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
    background: #ECB8A5;
    border-radius: 5px;
    padding: 10px;
}

header h1 {
    font-weight: 900;}

header h2 {
    font-weight: 200;
}

header h1, header h2 {
    padding: 5px;
    border-radius: 5px;
}

.nav {
    font-style: italic;
}


.nav li {
    list-style-type: none;
    margin: 0;
    display: inline;
}

.nav a {
    /* makes click target larger */
    padding: 10px 0;
}


/* body section ----------------------------------- */

body {
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
    background-color: #B7D5D4;
    padding-left: 10%; 
    padding-right: 2%;
}

.checkboxes {
    list-style-type: none;}

.text-title {
    text-align: center;
}

h1, h2, h3 { 
    font-family: "Avant Garde", Avantgarde, CenturyGothic, sans-serif;
}

em {
    font-weight: 600;
}


